.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: -20px;
       
    
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: 900;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}
.login-logistica
{
    margin-top: 1em;
    padding: 20px 10px 20px 10px; 
   
    background: rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 300px auto;
}
.login-title
{
    color: #555;
    font-size: 24px;
    font-weight: 900;
    display: block;
}
.profile-img
{
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    
}
.need-help
{
    margin-top: 10px;
}
.new-account {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}

.sioj-color {
    color: #C92C23;
    text-shadow: 0 0 2px white; 
    
}

.input-group-addon {
    background-color: #C92C23;
}

.white {
    color: white;
}

.bg-login {
    width: 100%;
    background: url(../imagenes/siojbg.png) no-repeat center center fixed;    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;   
    
}
.btn-primaryx {
  color: white;
  background-color: #C92C23;
  border-color: white;
  
}
.btn-primaryx:hover {
  color: #C92C23;
  background-color: white;
  border-color: #C92C23;
  
}

.btn-primaryx:focus,
.btn-primaryx.focus {
  color: #C92C23;
  background-color: white;
  border-color: #C92C23;
}
button:focus {
  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 1) inset, 0 0 8px #C92C23;
  outline: 0 none;
}


/*carousel*/

.containerx{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 30s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 100%px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.img-carousel {
	-webkit-filter: grayscale(0);
	cursor: pointer;
	transition: all 2s ease;
    height: 108px;
    width: 189px;
    scale
}
.img-carousel:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.1,1.1);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

/*header*/
.bg-header {
    background-color: #C92C23;
}

.navbar-brand {
    position: absolute;
    padding: 20px;
}